[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
flake8 = "*"
pytest-env = "*"
local = {path = ".", editable = true}

[packages]
injector = "==0.18.3"
requests = "==2.24.0"
responder = "==2.0.5"
torch = "==1.4.0"
torchvision = "==0.5.0"

[requires]
python_version = "3.7"

[scripts]
app = "uvicorn --host 127.0.0.1 --port 8080 app:api"
test = "pytest -v"
